@model AEAEBank.Models.MonetaryAccountModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IBAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IBAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Block", "EditStatus", new { id = Model.Id, status = true}, new { @class = "btn myButton" })

    @Html.ActionLink("Activate", "EditStatus", new { id = Model.Id, status = false }, new { @class = "btn myButton" })
</p>
<p>
    @Html.ActionLink("Back", "Details", "Account")
</p>
