@model AEAEBank.Models.EditUserViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EditUserViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CNP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDCardSeries)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCardSeries)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDCardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCardNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelephoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelephoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MonetaryAccounts.First().Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonetaryAccounts.First().IBAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonetaryAccounts.First().Currency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonetaryAccounts.First().Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonetaryAccounts.First().Blocked)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.MonetaryAccounts)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IBAN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Blocked)
            </td>
            <td>
                @Html.ActionLink("View Details", "Details", "MonetaryAccount", new { id = item.Id }, null)
            </td>
        </tr>
    }
</table>
    <p>
        @Html.ActionLink("Edit", "Edit", new { @class= "btn myButton" }) |
        @Html.ActionLink("Add Monetary Account", "Create", "MonetaryAccount") |
        @Html.ActionLink("Back to List", "Index")
    </p>
